<main>
    <h1>newsflash</h1>
    <p class="subtitle">
        A Python library for building interactive dashboards and web apps.
    </p>

    <nav>
        <ul>
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/">Docs</a></li>
            <li><a class="nav-link" href="https://github.com/jimhoekstra/newsflash" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        </ul>
    </nav>

    <div class="margin-top-4">
        <p>
            Newsflash is a Python library for building fast, interactive
            web applications. It comes with many widgets, charts, layouts, and themes 
            out of the box, so that you can get started quickly. This website
            is actually a newsflash app itself, so feel free to take a look around
            to get a sense of what it can do (or check out the <a href="https://github.com/jimhoekstra/newsflash-docs" target="_blank" rel="noopener noreferrer">code</a>)
        </p>
    </div>

    <div class="columns margin-top-4 gap-2">
        <div class="flex-1 center">
            <p class="label margin-t-0">Select the type of wave:</p>
            {{ widgets["line-type-select"] | safe}}

            <div class="columns gap-1">
                <div>
                    <p class="label">amplitude:</p>
                    {{ widgets["amplitude-select"] | safe}}
                </div>
                <div>
                    <p class="label">periods:</p>
                    {{ widgets["num-periods-select"] | safe}}
                </div>
            </div>
        </div>
        <div class="flex-1 center">
            <h2>easy interactivity</h2>
            <p>
                For every possible user interaction you can define a callback
                function in Python. Every callback function can use any
                widget(s) as input and update any widget(s) as output.
            </p>
        </div>
    </div>

    <div class="columns gap-2 margin-top-4">
        <div class="flex-1 center">
            <h2>beautiful, simple charts</h2>
            <p>
                Many chart types are supported out of the box, but you can also
                create your own custom charts. If you can dream it, you can draw
                it!
            </p>
        </div>

        <div class="chart flex-1 center">
            {{ widgets["line-chart"] | safe }}
        </div>
    </div>

    <div class="margin-top-4">
        <h2>full control</h2>
        <p>
            Newsflash gives you the tools to get started quickly, but it doesn't
            hide the underlying technologies. If you want to have fine-grained
            control over how your app looks you can edit the HTML and CSS
            directly. You also control exactly what Python code gets executed
            for every possible user interaction.
        </p>
    </div>
</main>

<style>
    main {
        max-width: 800px;
        margin: 2em auto;
        line-height: 1.5;
        padding-bottom: 4em;
    }

    h1 {
        margin-bottom: 0;
    }

    nav > ul li {
        display: inline-block;
    }

    a {
        color: hsl(213, 54%, 50%);
    }
    
    a.nav-link {
        margin-right: 0.5em;
    }

    .subtitle {
        color: #777;
        font-style: italic;
        margin-top: 0;
        font-size: 20px;
    }

    .columns {
        display: flex;
    }

    .gap-1 {
        gap: 1em;
    }

    .gap-2 {
        gap: 2em;
    }

    .center {
        align-self: center;
    }

    .margin-top-4 {
        margin-top: 4em;
    }

    .chart {
        height: 250px;
        background-color: hsl(28, 100%, 90%);
        padding: 1em;
        border-radius: 0.25em;
    }

    .flex-1 {
        flex: 1;
    }

    .col {
        max-width: 400px;
        margin: 4em auto;
    }

    .label {
        color: #777;
        margin-bottom: 0.25em;
    }

    .margin-t-0 {
        margin-top: 0;
    }
</style>
